@use "./variables" as *;

// // Colors

.c-white {
	color: $white !important;
}

.c-black-800 {
	color: $black-800 !important;
}

.c-black-900 {
	color: $black-900 !important;
}

.c-gray-400 {
	color: $gray-400 !important;
}

.c-gray-500 {
	color: $gray-500 !important;
}

.c-gray-700 {
	color: $gray-700 !important;
}

.c-gray-800 {
	color: $gray-800 !important;
}

.c-lime-400 {
	color: $lime-400 !important;
}

.c-lime-500 {
	color: $lime-500 !important;
}

.c-lavender-400 {
	color: $lavender-400 !important;
}

.c-lavender-500 {
	color: $lavender-500 !important;
}

.c-light-blue-400 {
	color: $light-blue-400 !important;
}

.c-light-blue-500 {
	color: $light-blue-500 !important;
}

// // Background colors

.bg-white {
	background-color: $white !important;
}

.bg-black-800 {
	background-color: $black-800 !important;
}

.bg-black-900 {
	background-color: $black-900 !important;
}

.bg-gray-400 {
	background-color: $gray-400 !important;
}

.bg-gray-500 {
	background-color: $gray-500 !important;
}

.bg-gray-700 {
	background-color: $gray-700 !important;
}

.bg-gray-800 {
	background-color: $gray-800 !important;
}

.bg-lime-400 {
	background-color: $lime-400 !important;
}

.bg-lime-500 {
	background-color: $lime-500 !important;
}

.bg-lavender-400 {
	background-color: $lavender-400 !important;
}

.bg-lavender-500 {
	background-color: $lavender-500 !important;
}

.bg-light-blue-400 {
	background-color: $light-blue-400 !important;
}

.bg-light-blue-500 {
	background-color: $light-blue-500 !important;
}
