@use "./variables" as *;

.ff-poppins {
	font-family: $ff-poppins !important;
}

.ff-code {
	font-family: $ff-code !important;
}

.ff-Dm-Sans {
	font-family: $ff-Dm-Sans !important;
}

// // Font weights

.fw-100 {
	font-weight: $fw-100 !important;
}

.fw-200 {
	font-weight: $fw-200 !important;
}

.fw-300 {
	font-weight: $fw-300 !important;
}

.fw-400 {
	font-weight: $fw-400 !important;
}

.fw-500 {
	font-weight: $fw-500 !important;
}

.fw-600 {
	font-weight: $fw-600 !important;
}

.fw-700 {
	font-weight: $fw-700 !important;
}

.fw-800 {
	font-weight: $fw-800 !important;
}

// // font sizes

.fs-12 {
	font-size: $fs-12;
}

.fs-14 {
	font-size: $fs-14;
}

.fs-16 {
	font-size: $fs-16;
}

.fs-18 {
	font-size: $fs-18;
}

.fs-20 {
	font-size: $fs-20;
}

.fs-24 {
	font-size: $fs-24;
}

.fs-28 {
	font-size: $fs-28;
}

.fs-32 {
	font-size: $fs-32;
}

.fs-36 {
	font-size: $fs-36;
}

.fs-40 {
	font-size: $fs-40;
}

.fs-48 {
	font-size: $fs-48;
}

.fs-56 {
	font-size: $fs-56;
}

.fs-64 {
	font-size: $fs-64;
}

.fs-72 {
	font-size: $fs-72;
}

.fs-80 {
	font-size: $fs-80;
}

.fs-96 {
	font-size: $fs-96;
}

// // line heights

.lh-12 {
	line-height: $lh-12;
}

.lh-16 {
	line-height: $lh-16;
}

.lh-20 {
	line-height: $lh-20;
}

.lh-24 {
	line-height: $lh-24;
}

.lh-28 {
	line-height: $lh-28;
}

.lh-32 {
	line-height: $lh-32;
}

.lh-36 {
	line-height: $lh-36;
}

.lh-40 {
	line-height: $lh-40;
}
